*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("./backgroujnd.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 80%;
    min-width: 540px;
    height: 80%;
    min-height: 360px;

    background: rgba(255, 255, 255, 0.6);

    border-radius: 30px;
}
#buttons{
    height: 20%;

    background:rgba(100, 100, 215, 0.6);
    border-radius: 30px 30px 0 0;

    position: relative;

    margin-bottom: 20px;
}
.btn{
    padding: 10px 50px;

    border: none;
    border-radius: 12px;
    border: 2px solid white;

    font-size: 22px;
    font-weight: 600;
    color: white;

    background: rgba(255, 255, 255, 0);

    position: absolute;
    transition: 0.5s background-color; 
}
.btn:hover{
    background-color: rgb(175, 252, 252);
    color:black;
    border-color: black;
}
.btn:active{
    background-color:  rgb(57, 119, 119);
}
.btn:first-child{
    top: 50%;
    left:25%;
    transform: translate(-50%,-50%);
}
.btn:nth-child(2){
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.btn:last-child{
    top:50%;
    left:75%;
    transform: translate(-50%,-50%)
}
li{
    list-style: none;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}